<nav class="navbar navbar-light bg-light">
  <img src="assets/img/logo.svg" alt="">

  <!-- <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <!-- <div id="navbarNav"> -->
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a
          [routerLink]="['/home']"
          routerLinkActive="current"
          class="nav-link"
          >Home <span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/about']"
          routerLinkActive="current"
          class="nav-link"
          >About</a
        >
      </li>
      <ng-container *ngIf="isAuth$ | async as isAuth">
        <ng-container *ngIf="isAuth.isAuth === false">
          <li class="nav-item">
            <a
              [routerLink]="['/login']"
              routerLinkActive="current"
              class="nav-link"
              >Authorization</a
            >
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['/signup']"
              routerLinkActive="current"
              class="nav-link"
              >Registration</a
            >
          </li>

        </ng-container>
      </ng-container>
      
      <ng-container *ngIf="authUser$ | async as authUser">
        <li class="nav-item nav-item_right">
          <span>{{ authUser.email }}</span>
          <a
            (click)="logout()"
            class="nav-link "
            >Log Out</a
          >
        </li>
      </ng-container>

    </ul>
  <!-- </div> -->
</nav>
