<nav class="navbar navbar-light bg-light">
  <img src="assets/img/logo.svg" alt="logo" class="navbar__logo" [routerLink]="['/home']" >
    <ul class="navbar-nav">
      <div class="navbar-nav_wrap">
        <li class="nav-item active">
          <a
            [routerLink]="['/home']"
            routerLinkActive="current"
            class="nav-link"
            >Home <span class="sr-only"></span
          ></a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/about']"
            routerLinkActive="current"
            class="nav-link"
            >About</a
          >
        </li>
      </div>
      <ng-container *ngIf="isAuth$ | async as isAuth">
        <ng-container *ngIf="isAuth.isAuth === false">
          <div class="navbar-nav_wrap">
            <li class="nav-item">
              <a
                [routerLink]="['/login']"
                routerLinkActive="current"
                class="nav-link"
                >Sign In</a
              >
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/signup']"
                routerLinkActive="current"
                class="nav-link"
                >Sign Up</a
              >
            </li>
          </div>

        </ng-container>
      </ng-container>
      
      <ng-container *ngIf="authUser$ | async as authUser">
        <li class="nav-item nav-item_right">
          <span>{{ authUser.email }}</span>
          <a
            (click)="logout()"
            class="nav-link "
            >Log Out</a
          >
        </li>
      </ng-container>

    </ul>
</nav>
