<ng-container *ngIf="tasks$ | async as tasks">
  <div class="card-body shadow p-3 mb-5 bg-body rounded">
    <h3 *ngIf="tasks.length; else unset">
      My Current Tasks({{ tasks.length }})
      <button
        type="button"
        class="btn btn-link pl-1"
        (click)="setFilterCompleted(null)"
      >
        All statuses
      </button>
      <button
        type="button"
        class="btn btn-link pl-0"
        (click)="setFilterCompleted(true)"
      >
        Completed
      </button>
      <button
        type="button"
        class="btn btn-link pl-0"
        (click)="setFilterCompleted(false)"
      >
        Uncompleted
      </button>
  
      <button
        type="button"
        class="btn btn-link ml-2"
        (click)="setFilterSeverity(null)"
      >
        All severities
      </button>
      <button
        type="button"
        class="btn btn-link"
        (click)="setFilterSeverity('important')"
      >
        Important
      </button>
      <button
        type="button"
        class="btn btn-link"
        (click)="setFilterSeverity('usual')"
      >
        Unimportant
      </button>
    </h3>
    <ng-template #unset><h3>There are no tasks yet...</h3></ng-template>
  
      <input
        *ngIf="tasks.length"
        placeholder="Search tasks"
        type="text"
        name="taskSearch"
        id="taskSearch"
        class="form-control mb-5"
        (input)="onInputFilterText($event)"
      />
  
    <ng-container *ngIf="tasksFiltered$ | async as tasksFiltered">
      <div *ngFor="let task of tasksFiltered">
        <task-item
          [task]="task"
          (deleteTask)="deleteTask(task.id)"
          (completeTask)="comleteTask(task.id, $event)"
          (changeTaskSeverity)="changeTaskSeverity(task.id, $event)"
        ></task-item>
      </div>
    </ng-container>
  
  
  </div>
</ng-container>

<task-form (createItem)="addTask($event)"></task-form>
